
body {
  background-color: rgb(19, 18, 18);
}

.box {

  display:flex;
  width: 100%;
  text-align: center;
  
}

.result{
width: 310px;
margin-bottom: 10px;
background: #fff;
height: 100px;
position: relative;
} 

.box:hover .result {
background-color: #fff;
}

#show{
  text-align: right;
  font-size: 25px;
  font-weight: 600;
  padding: 15px 5px;
  margin: 0;
}

#answer{
position: absolute;
bottom: 0;
text-align: right;
font-size: 30px;
font-weight: 700;
padding: 5px;
margin: 0;
right: 0;
}

.box :hover {
  background-color: #d3b4dd;
}

.cal-item {
  width: 70px !important;
  height: 55px;
  color: #fff;
  background: gray;
  border-radius: 3px;
  margin-right: 10px;
  margin-top: 0px;
  line-height: 55px;
  cursor: pointer;


}

.container {
  position: relative;
  left:0;
  margin-left:40%;
  margin-top: 10%; 
}


.purple {
    background-color: purple;
}